.places__paragraph-text {
    font-size: 18px;
    line-height: 29px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin: 0;
  }

  .places__paragraph-text:not(:first-child) {
    margin-top: 26px;
  }

  @media screen  and (max-width: 1023px) {
    .places__paragraph-text {
      font-size: 16px;
      line-height: 163%;
    }

    .places__paragraph-text:not(:first-child) {
      margin-top: 25px;
    }
  }

  @media screen  and (max-width: 768px) {
    .places__paragraph-text {
      font-size: 16px;
     line-height: 163%;
     
    }
  }