.page {
    background-color: #2A2c2f;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-text-size-adjust: 100%;
    margin: 0 auto;
    max-width: 1280px;
    overflow-x: hidden;
  }