.header__lang {
   display: flex;
   padding-top: 18px;
   margin: 0;
   
  }

  @media screen and (max-width: 320px) {
     .header__lang {
        font-size: 18px;
        line-height: 1.3;
        
        
     }
  }