.place__title {
    font-size: 72px;
    line-height: 1.05;
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    align-self: flex-end;
    margin: 0;
    
  }

  @media screen and (max-width: 768px) {
    .place__title {
     font-size: 42px;
     line-height: 1.095;
    }
  }

  @media screen and (max-width: 320px) {
    .place__title {
     font-size: 32px;
     left: 1.095;
     margin: 0 16px;
    }
  }