.places__link {
    font-size: 18px;
    line-height: 122%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-decoration-line: underline;
    color: #ffffff;
    margin-top: 12px;
  }

  .places__link:hover {
    opacity: 0.8;
  }
  