.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 122%;
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 32px;
  }

  @media screen and (max-width: 320px) {
    .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      padding-top: 16px;
      line-height: 1.1;
    }
    
  }