@font-face {
  font-family: inter-black;
  src: url(../fonts/Inter-Black.ttf);
}

@font-face {
  font-family: inter-bold;
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: inter-Regular;
  src: url(../fonts/Inter-Regular.ttf);
}