.intro__text {
    max-width: 690px;
    font-size: 16px;
    line-height: 163%;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 33px;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    
  }
  @media screen and (max-width: 1024px) {
    .intro__text {
      max-width: 690px;
      padding-bottom: 33px;
      margin: 0;
    }
  }


  @media screen and (max-width: 768px) {
    .intro__text {
      max-width: 720px;
      padding-bottom: 33px;
      margin: 0;
    }
  }

  @media screen and (max-width: 320px) {
    .intro__text {
     padding-bottom: 34px;
     max-width: 288px;
    }
  }