.cover {
    padding-top: 92px;
    margin: 0 auto;
    max-width: 1184px;
}


@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        padding-top: 90px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: 100%;
        padding-top: 66px;
    }
}