.cover {
    max-width: calc(100% - 96px);
    margin: 0 auto;
    overflow: hidden;
    padding-top: 92px;
    object-fit: cover;
    box-sizing: border-box;
  
  }

  @media screen and (max-width: 1024px) {
    .cover {
     max-width: calc(100% - 96px);
     height: 640px;
     margin: 0 auto;
     padding-top: 92px;
    }
  }

  @media screen and (max-width: 768px) {
    .cover {
      max-width: 100vw;
      height: 480px;
      padding-top: 90px;
      
    }
  }

  @media screen and (max-width: 320px) {
    .cover {
      max-width: 100vw;
      
    }
  }