.cover {
    max-width: calc(100% - 96px);
    margin: 0 auto;
    overflow: hidden;
    margin-top: 92px;
    object-fit: cover;
    box-sizing: border-box;
    
    

    
  }

  @media screen and (max-width: 1023px) {
    .cover {
     max-width: calc(100% - 96px);
     height: 640px;
     margin: 0 auto;
     margin-top: 92px;
     
      
      

    }
  }

  @media screen and (max-width: 768px) {
    .cover {
      max-width: 100%;
      height: 480px;
      margin-top: 90px;
      padding: 0;
      
      

    }
  }

  @media screen and (max-width: 320px) {
    .cover {
      max-width: 100%;
      height: 200px;
      margin-top: 66px;
      padding: 0;
      
      

    }
  }