.footer__item {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    
    
  }

  @media screen and (min-width: 320px) and (max-width: 764px) {
    .footer__item {
      flex-direction: column;
      align-items: flex-start;
    
    }
  }

  