.lead__caption {
    font-size: 10px;
    line-height: 140%;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
    box-sizing: border-box;
    
  }

  @media screen and (max-width: 768px) {
    .lead__caption {
     margin-left: 24px;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__caption {
      margin-left: 16px;
    }
  }
 