.cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    .cover__title {
      max-width: 288px;
      font-size: 32px;
      line-height: 1.09;
    }
    
  }