.footer {
  max-width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (min-width:320px) and (max-width: 764px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    
  }
}
    
  

  