.place__url-heading {
    font-size: 12px;
    line-height: 100%;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    margin: 0;
    padding-bottom: 12px;
    box-sizing: border-box;
    
  }